<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <!--<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
		<img src="{{ site.url }}{{ site.baseurl }}/images/favicon.png" alt="Logo" style="height: 30px; display: inline-block; margin-right: 10px; vertical-align: middle;">
		Physics-Informed Machine Intelligence Laboratory
	</a>.-->
	<a class="navbar-brand d-flex align-items-center" href="{{ site.url }}{{ site.baseurl }}/" style="display: flex; align-items: center;">
	<img src="{{ site.url }}{{ site.baseurl }}/images/favicon.png" alt="Lab Logo" style="height: 30px; margin-right: 10px; margin-bottom: 10px;">
	<span>Physics-Informed Machine Intelligence Laboratory</span>
	</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/join">Join</a></li>
	  </ul>
	</div>
  </div>
</div>
